:root {
  --first-color: #fdfb71;
  --second-color: rgb(250, 244, 248);
}

html {
  min-height: 100%;
  position: relative;
}
body {
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FF9451' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ff9753' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff9a54' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ff9d56' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffa158' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ffa45a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffa75b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ffaa5d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffad5f' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ffb060' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffb462' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ffb764' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffba65' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ffbd67' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffc069' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ffc36b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffc66c' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ffca6e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffcd70' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ffd071' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FFD373' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed; */
  background-image: url("/src/img/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  padding-bottom: 5rem;
}
h1 {
  color: var(--first-color);
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.tittleprimary {
  margin-top: 30%;
}

h2 {
  color: var(--second-color);
  padding: 1rem 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
}

p a,
p a:hover {
  color: #25d366;
  margin-left: 10px;
}

.lista-pedido .media {
  border-bottom: 1px solid var(--second-color);
  padding-bottom: 3rem;
}

.lista-pedido .media:last-of-type {
  border-bottom: 0;
}
.lista-pedido .media-body p {
  margin: 0;
}
.lista-pedido .media-body button {
  margin-top: 1rem !important;
}
.lista-pedido .media-body span {
  font-weight: bold;
}

label {
  color: var(--second-color);
}

label span {
  color: red;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.container {
  position: unset;
}

.pedido {
  background: white;
  color: black;
  border: 1px solid rgba(223, 212, 212, 0.246);
  border-radius: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.pedido p {
  font-weight: bold;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}
.pedido p span {
  font-weight: normal;
}
.pedido:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.pedido:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.eliminar {
  background-color: #f30909;
  color: white;
  margin-top: 2rem;
  border-radius: 60px;
  border: 1px solid #f30909;
  transition: 0.3s;
}
.button.eliminar:hover {
  letter-spacing: 1.8px;
  background-color: #f30909;
  border: 1px solid #f30909;
}

form {
  border: 1px solid rgba(223, 212, 212, 0.246);
  border-radius: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: rgba(251, 247, 247, 0.061);
}

.alerta-error {
  background-color: red;
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-iniciar h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}
.btn-iniciar {
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20%;
}

.btn-iniciar:after {
  content: "";
  background-color: var(--first-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-iniciar:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn-iniciar {
    padding: 13px 50px 13px;
  }
}

button.button-primary {
  border-radius: 60px;
  border: 1px solid var(--first-color);
  background-color: var(--first-color);
  transition: 0.3s;
}

button.button-primary:hover {
  letter-spacing: 1.8px;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
}

.home-tittle {
  padding-top: 30rem;
  padding-right: 10rem;
}

.buscador {
  position: inherit;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* .img-home {
  width: 100%;
  background: transparent;
  margin-top: 100px;
} */

/*NAVBAR*/
li {
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--second-color);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: inherit;
  padding: 0.5rem 1.5rem;
  padding-top: 30px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 550;
  color: var(--first-color);
  transition: 0.1s;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px rgb(3, 3, 3);
  -webkit-text-fill-color: var(--first-color);
}

.nav-link:hover {
  color: var(--second-color);
  border-bottom: 2px solid var(--first-color);
}

.nav-logo a {
  font-weight: bold;
  font-size: 2.4rem;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px rgb(3, 3, 3);
  -webkit-text-fill-color: var(--first-color);
}

@media only screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    flex-direction: column;
    background-color: var(--first-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    color: var(--second-color);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*------------*/

/* Larger than mobile */
@media (min-width: 400px) {
  h1 {
    font-size: 3.5rem;
  }
  form {
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }
  form {
    border: 0px solid rgba(223, 212, 212, 0.246);
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

/* Larger than tablet */
@media (min-width: 770px) {
  /* button.button-primary {
    margin-left: 19rem;
  } */

  h1 {
    font-size: 3.5rem;
  }
  form {
    border: 1px solid rgba(223, 212, 212, 0.246);
    border-radius: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(251, 247, 247, 0.061);
  }
}

footer {
  background-color: var(--first-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: black;
  border-top: 2px solid black;
}
footer p{
    margin-top: 12px;
    text-align: center;
}
